<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/comunidade.css">
  <link rel="stylesheet" href="../stylesheets/home.css">
  <title>Document</title>
</head>

<body>
  <main>
    <%- include('header'); %>
      <div class="topicos">
        <div class="topico">
          <div class="conteudo">
            <div class="post"> <img id="perf" src="../images/perfil_logado.png" alt="">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, sunt, sapiente numquam harum ipsam
                iure, consequatur omnis dolore quo sit veritatisdaddadad est in qui quod earum? Iure culpa totam doloremque.</p>
            </div>
            <div class="post_conteudo"> <img src="../images/cute_cat.png"></div>
            <div class="info_commu">
              <img id="view" src="../images/eyes.png">
              <h3>20K</h3>
              <img id="like" src="../images/heart.png">
              <h3>20K</h3>
          </div>
          </div>
        </div>

        <div class="topicos">
          <div class="topico">
            <div class="conteudo">
              <div class="post"> <img id="perf" src="../images/perfil_logado.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, sunt, sapiente numquam harum ipsam
                  iure, consequatur omnis dolore quo sit veritatisdaddadad est in qui quod earum? Iure culpa totam doloremque.</p>
              </div>
              <div class="post_conteudo"> <img src="../images/gato2.jpg"></div>
              <div class="info_commu">
                <img id="view" src="../images/eyes.png">
                <h3>20K</h3>
                <img id="like" src="../images/heart.png">
                <h3>20K</h3>
      </div>
  </main>

</body>

</html>