<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <!-- header start -->
    <header>
        <img src="images/logo.png" alt="Logo Kitty Club">
    </header>
        <!-- header end -->
        <!-- link buttons start -->
        <button>
            <a href="/perfil">Perfil</a>
        </button>
        <button>
            <a href="/">Página Inicial</a>
        </button>
        <button>
          <a href="/video/1">Video</a>
        </button>

        <!-- link buttons end -->
  </body>
</html>
