<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Kitty Club</title>
</head>

<body>
  <!-- colocar o header aqui -->
  <%- include('header'); %>
    <br>
    <br>
    <br>
    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    <div id="row">
      <div class="v1">
        <a href="/video/cato"><img src="images/home.vid2.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">videos de gatos fofos </p>
          <div class="images">
          <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
            <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/home.cato1"><img src="images/home.vid.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">Como fazer seu gato gostar de voce</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/home.vid3.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">gatos miando -som de gatos</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

    </div><!--v1-->
    </div><!--row-->

    <br>
    <br>

    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    <div id="row">
      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

    </div><!--v1-->
    </div><!--row-->

    <br>
    <br>

    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    <div id="row">
      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

    </div><!--v1-->
    </div><!--row-->

    <br>
    <br>

    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    <div id="row">
      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

      <div class="v1">
       <a href="/video/cato"><img src="images/gato.jpg" id="cat-vid" alt="gato"> </a>
        <div class="bottext">
          <p class="row2">lorem ipsum ndkjsdnkajsdnkaskjdnka</p>
          <div class="images">
           <button id="heart-but"><img src="images/heart.png" id="heart" alt="likes"></button> 
            <h3 id="likes">??K</h3>
             <button id="view-but"><img src="images/eyes.png" id="visu"alt="views"></button>
            <h3 id="views">??K</h3>
          </div><!--images-->
        </div><!--bottext-->
      </div><!--v1-->

    </div><!--v1-->
    </div><!--row-->

    <!----------------------videos finish------------------------------>

    <br>
    <br>
    
      <div id="end">
        <h2 class="ss"><</h2>
        <a href="#" class="pc"><p class="s1">1</p></a>
        <a href="#" class="pc"><p class="s2">2</p></a>
        <a href="#" class="pc"><p class="s3">3</p></a>
        <h3 class="s">...</h3>
        <h2 class="ss">></h2>
        </div>


    <br>
    <br>

    <a href="#" class="feedback">Envie seu Feedback!</a>

    <br>
    <br>

  
</body>

</html>