<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Kitty Club</title>
</head>

<body>
  <!-- colocar o header aqui -->
  <%- include('header'); %>
    <br>
    <br>
    <br>

    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->



    </head>

    <body>
  
      <div id="row">
          <div class="v1">
              <a href="/video/va1"><img src="images/home.vid2.jpg" id="cat-vid" alt="gato"> </a>
              <div class="bottext">
                  <p class="row2">videos de gatos fofos </p>
                  <div class="div">
                    <p id="channel">PurrfectFeline</p>
                  </div>
              </div><!--bottext-->
          </div><!--v1-->
          <div class="v1">
            <a href="/video/v9"><img src="images/home.vid.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Como fazer seu gato gostar de voce</p>
               <div class="div">
                <p id="channel">MeowMania</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/va2"><img src="images/home.vid3.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">gatos miando -som de gatos</p>
               <div class="div">
                <p id="channel">CatWhiskers</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/cato"><img src="images/home.vid4.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">video extremamente engraçado</p>
               <div class="div">
                <p id="channel">KittyLove</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v1"><img src="images/home.vid10.jpg" id="cat-vid" alt="g]ato"> </a>
             <div class="bottext">
               <p class="row2">Gatos hilários: uma compilação de trapalhadas felinas</p>
               <div class="div">
                <p id="channel">PawsomeAdventures</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v2"><img src="images/home.video6.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Os gatos mais fofos da internet</p>
               <div class="div">
                <p id="channel">CatnipCraze</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/v3"><img src="images/home.video7.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">10 fatos fofos </p>
               <div class="div">
                <p id="channel">WhiskerWonderland</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v4"><img src="images/home.video8.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">gatos medrosos: o que fazer ? </p>
               <div class="div">
                <p id="channel">FelineFrenzy</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v5"><img src="images/home.video9.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">convivencia entre os meus gatos </p>
               <div class="div">
                <p id="channel">CuddleWithCats</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/v6"><img src="images/home.video5.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">video de gatos filhotes </p>
               <div class="div">
                <p id="channel">MeowMaster</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v7"><img src="images/home.video11.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Gatos engraçados em situações inusitadas: prepare-se para gargalhar</p>
               <div class="div">
                <p id="channel">CatnipCraze</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/v8"><img src="images/home.video12.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Rindo com os gatos: os bichanos mais hilariantes da web</p>
               <div class="div">
                <p id="channel">PawsomeAdventures</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
          <!-- Adicione outros elementos 'div' com a classe 'v1' conforme necessário -->
          
      </div><!--row-->
    </body>

</html>


<!----------------------videos finish------------------------------>

<br>
<br>

<br>
<br>

 <script>
        function pesquisar() {
            var input = document.getElementById('pesquisa');
            var filtro = input.value.toUpperCase();
            var lista = document.getElementsByClassName('v1');

            for (var i = 0; i < lista.length; i++) {
                var item = lista[i];
                var textoItem = item.textContent || item.innerText;

                if (textoItem.toUpperCase().indexOf(filtro) > -1) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            }
        }
    </script>
</body>

</html>