<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Kitty Club</title>
</head>

<body>
  <!-- colocar o header aqui -->
  <%- include('header'); %>
    <br>
    <br>
    <br>

    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->



    </head>

    <body>
  
      <div id="row">
          <div class="v1">
              <a href="/video/home.cato1?id=1&title=video%20de%20gatos%20fofos&desc=Você%20testemunhará%20gatinhos%20fofos%20explorando%20o%20mundo%20ao%20seu%20redor,%20brincando%20com%20bolinhas%20de%20lã,%20perseguindo%20feixes%20de%20luz%20e%20descobrindo%20caixas%20vazias%20como%20se%20fossem%20o%20paraíso%20dos%20gatos.%20A%20suavidade%20de%20suas%20patinhas,%20o%20ronronar%20suave%20e%20os%20olhares%20inocentes%20irão%20cativar%20você%20instantaneamente.&channel=PurrfectFeline
              "><img src="images/home.vid2.jpg" id="cat-vid" alt="gato"> </a>
              <div class="bottext">
                  <p class="row2">videos de gatos fofos </p>
                  <div class="div">
                    <p id="channel">PurrfectFeline</p>
                  </div>
              </div><!--bottext-->
          </div><!--v1-->
          <div class="v1">
            <a href="/video/home.cato3?id=1&title=Como%20fazer%20seu%20gato%20gostar%20de%20voce&desc=Descubra%20como%20conquistar%20o%20cora%C3%A7%C3%A3o%20do%20seu%20gato,%20aprendendo%20a%20entender%20suas%20necessidades%20individuais%20e%20respeitar%20seu%20espa%C3%A7o%20pessoal.%20Voce%20aprendera%20tecnicas%20para%20se%20aproximar%20de%20maneira%20gentil%20e%20amigavel,%20permitindo%20que%20seu%20gato%20se%20sinta%20confortavel%20em%20sua%20presenca.&channel=MeowMania"><img src="images/home.vid.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Como fazer seu gato gostar de voce</p>
               <div class="div">
                <p id="channel">MeowMania</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato2?id=1&title=gatos%20miando%20-som%20de%20gatos&desc=Prepare-se%20para%20ouvir%20uma%20variedade%20de%20miados%20que%20refletem%20diferentes%20emo%C3%A7%C3%B5es%20e%20inten%C3%A7%C3%B5es%20dos%20gatos.%20Voce%20encontrara%20miados%20de%20felicidade,%20quando%20estao%20se%20divertindo%20ou%20buscando%20aten%C3%A7%C3%A3o,%20bem%20como%20miados%20de%20solicita%C3%A7%C3%A3o,%20quando%20estao%20com%20fome%20ou%20desejam%20algo%20espec%C3%ADfico.%20Alem%20disso,%20alguns%20miados%20podem%20transmitir%20curiosidade,%20frustra%C3%A7%C3%A3o%20ou%20ate%20mesmo%20afeto.&channel=CatWhiskers"><img src="images/home.vid3.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">gatos miando -som de gatos</p>
               <div class="div">
                <p id="channel">CatWhiskers</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/home.cato4?id=1&title=video%20extremamente%20engra%C3%A7ado&desc=Prepare-se%20para%20se%20surpreender%20com%20uma%20s%C3%A9rie%20de%20cenas%20c%C3%B4micas,%20protagonizadas%20por%20pessoas,%20animais%20e%20at%C3%A9%20mesmo%20eventos%20inusitados.%20Desde%20quedas%20engra%C3%A7adas%20e%20trope%C3%A7os%20desastrados%20at%C3%A9%20pegadinhas%20divertidas%20e%20rea%C3%A7%C3%B5es%20surpreendentes,%20cada%20momento%20capturado%20neste%20v%C3%ADdeo%20%C3%A9%20garantia%20de%20risadas%20incontrol%C3%A1veis.&channel=KittyLove"><img src="images/home.vid4.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">video extremamente engraçado</p>
               <div class="div">
                <p id="channel">KittyLove</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato5?id=1&title=Gatos%20hil%C3%A1rios:%20uma%20compila%C3%A7%C3%A3o%20de%20trapalhadas%20felinas&desc=Voc%C3%AA%20testemunhar%C3%A1%20gatos%20desajeitados%20pulando%20e%20escorregando,%20tentando%20dominar%20brinquedos%20ou%20at%C3%A9%20mesmo%20se%20enroscando%20em%20situa%C3%A7%C3%B5es%20inusitadas.%20Cada%20momento%20capturado%20neste%20v%C3%ADdeo%20%C3%A9%20uma%20demonstra%C3%A7%C3%A3o%20de%20como%20os%20gatos%20podem%20ser%20adoravelmente%20atrapalhados%20e%20divertidos.&channel=PawsomeAdventures"><img src="images/home.vid10.jpg" id="cat-vid" alt="g]ato"> </a>
             <div class="bottext">
               <p class="row2">Gatos hilários: uma compilação de trapalhadas felinas</p>
               <div class="div">
                <p id="channel">PawsomeAdventures</p>
              </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato6?id=1&title=Os%20gatos%20mais%20fofos%20da%20internet&desc=Você%20será%20agraciado%20com%20uma%20sequência%20de%20imagens%20que%20destacam%20a%20beleza%20e%20a%20ternura%20desses%20pequenos%20peludos.%20Desde%20gatinhos%20recém-nascidos%20com%20seus%20olhinhos%20curiosos%20até%20gatos%20adultos%20exibindo%20suas%20poses%20mais%20encantadoras,%20cada%20momento%20capturado%20é%20uma%20demonstração%20do%20quão%20irresistíveis%20os%20gatos%20podem%20ser.&channel=CatnipCraze"><img src="images/home.video6.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Os gatos mais fofos da internet</p>
               <div class="div">
                <p id="channel">CatnipCraze</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/home.cato7?id=1&title=10%20fatos%20fofos&desc=Desde%20fatos%20sobre%20animais%20fofinhos,%20como%20gatinhos%20e%20filhotes%20de%20cachorro,%20até%20curiosidades%20sobre%20a%20natureza%20e%20o%20reino%20animal,%20esse%20vídeo%20apresentará%20informações%20divertidas%20e%20encantadoras%20para%20despertar%20o%20seu%20interesse.&channel=WhiskerWonderland"><img src="images/home.video7.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">10 fatos fofos </p>
               <div class="div">
                <p id="channel">WhiskerWonderland</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato8?id=1&title=gatos%20medrosos:%20o%20que%20fazer%20?&desc=Descubra%20como%20criar%20um%20espa%C3%A7o%20seguro%20e%20tranquilo%20para%20o%20seu%20gato,%20fornecendo%20esconderijos%20e%20%C3%A1reas%20de%20conforto%20onde%20ele%20possa%20se%20refugiar%20quando%20se%20sentir%20amea%C3%A7ado.%20Aprenda%20a%20identificar%20os%20gatilhos%20que%20desencadeiam%20o%20medo%20do%20seu%20gato%20e%20encontre%20maneiras%20de%20minimiz%C3%A1-los,%20seja%20por%20meio%20de%20t%C3%A9cnicas%20de%20dessensibiliza%C3%A7%C3%A3o%20gradual%20ou%20de%20modifica%C3%A7%C3%A3o%20do%20ambiente.&channel=FelineFrenzy"><img src="images/home.video8.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">gatos medrosos: o que fazer ? </p>
               <div class="div">
                <p id="channel">FelineFrenzy</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.catos9?id=1&title=convivencia%20entre%20os%20meus%20gatos&desc=Você%20aprenderá%20sobre%20a%20importância%20da%20fase%20de%20introdução%20gradual,%20onde%20os%20gatos%20podem%20se%20familiarizar%20com%20o%20cheiro%20e%20presença%20um%20do%20outro%20antes%20de%20se%20encontrarem%20pessoalmente.%20Descubra%20como%20criar%20espaços%20separados%20e%20enriquecidos,%20permitindo%20que%20cada%20gato%20tenha%20seu%20próprio%20território%20e%20áreas%20de%20conforto.&channel=CuddleWithCats"><img src="images/home.video9.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">convivencia entre os meus gatos </p>
               <div class="div">
                <p id="channel">CuddleWithCats</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
         </div><!--row-->
     
         <br>
         <br>
     
         <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
         <div id="row">
           <div class="v1">
            <a href="/video/home.cato10?id=1&title=video%20de%20gatos%20filhotes%20&desc=Você%20será%20cativado%20pela%20doçura%20dos%20gatinhos%20recém-nascidos,%20com%20seus%20olhinhos%20curiosos%20e%20movimentos%20desajeitados.%20A%20medida%20que%20crescem,%20você%20acompanhará%20seu%20desenvolvimento,%20desde%20os%20primeiros%20passos%20atrapalhados%20até%20as%20brincadeiras%20animadas%20e%20exploratórias.&channel=MeowMaster"><img src="images/home.video5.jpg"" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">video de gatos filhotes </p>
               <div class="div">
                <p id="channel">MeowMaster</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato11?id=1&title=Gatos%20engra%C3%A7ados%20em%20situa%C3%A7%C3%B5es%20inusitadas%3A%20prepare-se%20para%20gargalhar&desc=Prepare-se%20para%20gargalhar%20com%20esta%20compila%C3%A7%C3%A3o%20imperd%C3%ADvel%20de%20Gatos%20engra%C3%A7ados%20em%20situa%C3%A7%C3%B5es%20inusitadas.%20Estes%20ador%C3%A1veis%20felinos%20parecem%20ter%20um%20talento%20especial%20para%20se%20envolver%20em%20situa%C3%A7%C3%B5es%20hil%C3%A1rias%20que%20v%C3%A3o%20deixar%20voc%C3%AA%20rolando%20de%20tanto%20rir.%20Desde%20travessuras%20malucas%20at%C3%A9%20acrobacias%20acidentais%2C%20esses%20gatos%20est%C3%A3o%20prontos%20para%20arrancar%20sorrisos%20de%20qualquer%20pessoa.&channel=CatnipCraze
            "><img src="images/home.video11.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Gatos engraçados em situações inusitadas: prepare-se para gargalhar</p>
               <div class="div">
                <p id="channel">CatnipCraze</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
           <div class="v1">
            <a href="/video/home.cato12?id=1&title=Rindo%20com%20os%20gatos:%20os%20bichanos%20mais%20hilariantes%20da%20web&desc=Você%20testemunhará%20gatos%20em%20situações%20inusitadas,%20desde%20trapalhadas%20e%20acrobacias%20malucas%20até%20reações%20surpreendentes%20e%20expressões%20faciais%20hilariantes.%20Cada%20momento%20capturado%20neste%20vídeo%20é%20garantia%20de%20risadas%20e%20diversão%20incontroláveis.&channel=PawsomeAdventures"><img src="images/home.video12.jpg" id="cat-vid" alt="gato"> </a>
             <div class="bottext">
               <p class="row2">Rindo com os gatos: os bichanos mais hilariantes da web</p>
               <div class="div">
                <p id="channel">PawsomeAdventures</p>
               </div>
             </div><!--bottext-->
           </div><!--v1-->
     
         </div><!--v1-->
          <!-- Adicione outros elementos 'div' com a classe 'v1' conforme necessário -->
          
      </div><!--row-->
    </body>

</html>


<!----------------------videos finish------------------------------>

<br>
<br>

<br>
<br>

 <script>
        function pesquisar() {
            var input = document.getElementById('pesquisa');
            var filtro = input.value.toUpperCase();
            var lista = document.getElementsByClassName('v1');

            for (var i = 0; i < lista.length; i++) {
                var item = lista[i];
                var textoItem = item.textContent || item.innerText;

                if (textoItem.toUpperCase().indexOf(filtro) > -1) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            }
        }
    </script>
</body>

</html>