<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button>
      <a href="/perfil">Perfil</a>
    </button>
    <button>
      <a href="/video/1">Video</a>
    </button>
    <button>
      <a href="/comunidade">comunidade</a>
    </button>
    
    
  </body>
</html>
