<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Bem vindos à Página secreta do site.</h1>
    <h2>Apoio totalmente essa pagina secreta :) se a vitoria não gosta</h2>
    <h4>O problema é dela</h4>
    <br>
    <p class="segredo">Parabéns por ter chegado até aqui. Você provavelmente analisou a raiz do projeto ou apenas deu sorte. De qualquer modo, aqui temos sua</p>
    <br>
    <br>
    <h2 style="text-align: center;">Receita de brownie de achocolatado.</h2>
    <br>
    <div style="display: flex; justify-content: center;"><img src="/images/brownie.jpg" alt="Brownie" style="width: 700px;"></div>
    <br>
    <br>
    <p class="segredo">Sabia que dá para um delicioso brownie com achocolatado em pó? Isso mesmo, você não precisa usar ingredientes caros, como o chocolate em barra para fazer o típico bolo americano! Para quem ainda não conhece, o brownie é aquele bolo baixinho que tem uma casquinha por cima e por dentro é bem cremoso. Para quem já conhece e não sabia como se faz, aqui eu vou ensinar como fazer brownie de achocolatado em pó simples e rápido, com um passo a passo todo bem explicado para você fazer em casa e não errar. O brownie é um bolo clássico americano que a gente sempre vê em filmes ou nas vitrines das padarias, mas o que muita gente não sabe é que a receita de brownie de achocolatado em pó é fácil e econômica. Chega ser mais fácil que muita receita de bolo que a gente tá acostumado a fazer no dia a dia, pois para fazer essa receita caseira de brownie de achocolatado em pó, você não vai precisar nem de batedeira e nem de liquidificador, ela é feita na mão mesmo, da maneira mais simples possível. Assim todo mundo vai querer fazer!</p>
    <br>

    <!-- informacao nutricional start -->
    <div class="infonutricional">
        <div class="linha">
            <div class="bloco">
                <b>379kcal</b>
                calorias
            </div>
            <div class="bloco">
                <b>5,7g</b>
                Proteínas
            </div>
            <div class="bloco">
                <b>65g</b>
                Carboidratos
            </div>
        </div>
        <div class="linha">
            <div class="bloco">
                <b>11g</b>
                Gorduras
            </div>
            <div class="bloco">
                <b>47mg</b>
                Sódio
            </div>
            <div class="bloco">
                <b>1.8g</b>
                Fibra
            </div>
        </div>
    </div>
    <!-- informacao nutricional end -->
    <br>
    <!-- ingredientes -->
    <h1>Ingredientes: </h1>
    <ul style="font-size: large;">
        <li><b>2 Xícaras de chá</b> de achocolatado em pó</li>
        <li><b>1 Xícara de chá</b> de açúcar</li>
        <li><b>1 Xícara de chá</b> de farinha de trigo</li>
        <li><b>4 Unidades</b> de ovos</li>
        <li><b>200g</b> de manteiga (derretida) </li>
    </ul>
    <!-- ingredientes end -->
<br>
    <!-- modo de preparo -->
    <h1>Modo de preparo: </h1>
    <ol style="font-size: larger;">
        <li>Numa tigela, junte os ovos e o açúcar;</li>
        <li>Misture com a ajuda de um fouet (batedor de arame);</li>
        <li>Em seguida adicione a manteiga e misture até que forme um creme;</li>
        <li>Acrescente o achocolatado em pó e continue misturando;</li>
        <li>Adicione a farinha de trigo e misture até que a massa fique bem homogênea (OBS: Essa massa é mais espessa que a massa de bolo tradicional);</li>
        <li>Despeje essa massa numa forma (28×30), untada e enfarinhada com achocolatado;</li>
        <li>Espalhe a massa e em seguida leve para assar em forno pré aquecido, 180ºC, por cerca de 35 minutos.</li>
    </ol>
    <p>E pronto! Seu brownie de achocolatado está pronto. Não se esqueça de deixar esfriar e servir frio.</p>
    <!-- modo de preparo end -->
</body>
</html>