<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem-vindo ao vídeo <%= id %></p>
    <button>
      <a href="/perfil">Perfil</a>
    </button>
    <button>
      <a href="/">Página Inicial</a>
    </button>
    <button>
      <a href="/comunidade">Comunidade</a>
    </button>
    <img src="<%= caminhoImagem %>" alt="Imagem do vídeo">
  </body>
</html>
