<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kittyclub</title>

    <link rel="stylesheet" href="../stylesheets/video.css ">
    <link rel="stylesheet" href="../stylesheets/home.css">

</head>

<body>
    <%- include('header'); %>

        <main>
            <section id="pagina_video">
                <div class="video_principal">
                    <video controls autoplay muted>
                        <source id="video" src="<%=caminhoVideo  %>">
                    </video>
                </div>
                <div class="tit">
                    <div class="hud">
                        <h2 id="title">Lorem ipsum dolor sit amet consectet</h2>
                       <button id="likeButton" onclick="toggleLike()">
                        <img id="like" src="../images/heart.png"></button>
                        <p id="likeCount">0</p>
                      
            
                    </div>
                </div>
                <div class="hud2">
                    <div class="perfil_vid">
                        <img src="../images/perfil_logado.png">
                        <div class="info">
                            <h3 id="canal">cast</h3>
                            <h6 id="inscritos">inscritos:500</h6>
                        </div>
                        <button id="bts-inscrição">increver-se</button>
                    </div>
                </div>
                <div class="descricao">
                    <div class="descricao_text">
                        <p id="descricao-video">
                            Gatos fofos a 5km de você !!!
                        </p>
                    </div>
                </div>
                <section id="comentarios">
                    <h2>2 comentarios</h2>
                    <div class="campo">
                        <img src="../images/perfil_logado.png" alt="">
                        <form class="search-box1">
                            <input type="text" name="search" placeholder="comente">
                            <hr id="coment">
                            <input type="get" value="add_comment">
                        </form>
                    </div>
                    <div class="display-comen">
                        <div class="coment">
                            <img id="perfil1" src="../images/perfil_logado.png" alt="">
                            <p id="comentario">Uau! que gatos mais fofos! porém creio que confundi o site kkkkkkkkk</p>
                        </div>
                        <div class="coment">
                            <img id="perfil2" src="../images/perfil_logado.png" alt="">
                            <p id="comentario">Que gatinhos bonitinhos, améi os vídeos, POGGERS!</p>
                        </div>
                    </div>
                </section>
            </section>
            <section id="video_list">
                <div class="video">
                    <h1 id="tittle">videos mais populares</h1>
                    <div id="primeiro_vid" class="next_video"> <a href="/video/v3
                        "><img
                                src="/images/home.vid2.jpg" id="cat-vid" alt="gato"> </a>
                    </div>

                    <div class="info_vid">
                        <p class="row2">videos de gatos fofos </p>
                        <div class="div">
                            <p id="channel">PurrfectFeline</p>

                        </div>
                    </div>
                    <div class="video">
                        <div class="next_video">
                            <a href="/video/v5">
                            <img src="/images/home.vid4.jpg" id="cat-vid" alt="gato"> </a>

                            <div class="info_vid">
                                <p class="row2">video extremamente engraçado</p>
                                <div class="div">
                                    <p id="channel">KittyLove</p>

                                </div>

                            </div>
                            <div class="video">

                                <div class="next_video">
                                    <a href="/video/cato"><img src="/images/home.vid10.jpg" id="cat-vid"
                                            alt="g]ato"></a>
                                    <div class="info_vid">
                                        <p class="row2">Gatos hilários: uma compilação de trapalhadas felinas</p>
                                        <div class="div">
                                            <p id="channel">PawsomeAdventures</p>
                                        </div>

                                    </div>
                                    <div class="video">
                                        <div class="next_video"> <a href="/video/v8"><img src="/images/home.video8.jpg"" id="cat-vid" alt="gato"> </a>
                                            <div class="info_vid">
                                                <p class="row2">gatos medrosos: o que fazer ? </p>
                                                <div class="div">
                                                    <p id="channel">Herobrine</p>
                                                </div>

        </main>

        <script>
            var likes = 0;
    var hasLiked = false;
    function toggleLike() {
  const likeCountElement = document.getElementById("likeButton");
  const likeCountText = document.getElementById("likeCount");
  
  if (hasLiked) {
    likes--;
    likeCount.style.color = "white";
  } else {
    likes++;
    likeCount.style.color = "#EB8B1B";
  }
  
  hasLiked = !hasLiked;
  likeCount.innerHTML = likes.toString();
}
            const params = new URLSearchParams(window.location.search);
            const videoId = params.get('id');
            const videoTitle = params.get('title');
            const videoDescription = params.get('desc');
            const videochannel = params.get('channel');

            // Atualize os elementos com os valores dos parâmetros
            const videoTitleElement = document.getElementById('title');
            const videoDescriptionElement = document.getElementById('descricao-video');
            const videochannelElement = document.getElementById('canal');
            videoTitleElement.textContent = videoTitle;
            videoDescriptionElement.textContent = videoDescription;
            videochannelElement.textContent = videochannel;
        </script>
</body>

</html>